{% layout "layout.liquid" %} {% block content %}
<div class="d-flex justify-content-center">
  <a href="/users/signup" class="p-5"><button>Signup</button></a>
  
  <a href="/users/login" class="p-5"><button>Login</button></a>
</div>
{% endblock %}