{% layout "layout.liquid" %} {% block content %}
<div class="d-flex flex-column justify-content-center">
  <a href="/builds/new" class="d-flex justify-content-center text-decoration-none"><button>Create A New Build</button></a>
  <br>
  

  {% for build in build %}
  <article class="d-inline-flex justify-content-center">
    <a href="/builds/{{ build._id }}" class="text-decoration-none"> 
      <h2>
        {{ build.name }}
      </h2>
    </a>
  </article>
  {% endfor %}
  <br>
  <a href="/users/logout" class="d-inline-flex justify-content-center text-decoration-none"><button>Logout</button></a>
</div>
{% endblock %}
