{% layout "layout.liquid" %} {% block content %}
<div>
  <a href="/builds/new"><button>Create A New Build</button></a>
  <a href="/users/logout"><button>Logout</button></a>

  {% for build in build %}
  <article>
    <a href="/builds/{{ build._id }}"> 
      <h2>
        {{ build.name }}
      </h2>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}
