{% layout "layout.liquid" %} {% block content %}
<div>
  <article>
    <h2>
      {{ build.name }} - {% if readyToEat == true %} Ready to Eat {% else %} Not
      Ready to Eat {% endif %}
    </h2>
    <h3>{{ build.color }}</h3>
    <a href="/builds/{{ build._id }}/edit"><button>Edit</button></a>
    <form action="/builds/{{ build._id }}?_method=DELETE" method="POST">
      <input type="submit" value="Delete" />
    </form>
    <a href="/builds/"><button>Home</button></a>
  </article>
</div>
{% endblock %}
